.main{
    height:1000px ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 2px solid red;*/
    height: 400px;
    width: 300px;
    gap: 20px;
    background-color:white;
}
.child{
   /* border: 2px solid green;*/
    width: 40px;
    height: 100px;
    background-color:black;
    border-radius: 100px; 

}
.child1{
    animation-name: audio;
    animation-duration: 0.4s;
    animation-delay:0.1s;
    animation-iteration-count: infinite;
  
}
.child2{
    animation-name: audio;
    animation-duration: 0.6s;
    animation-delay:0.8s;
    animation-iteration-count: infinite;
  

}
.child3{
    animation-name: audio;
    animation-duration: 0.6s;
    animation-delay:1s;
    animation-iteration-count: infinite;
}
.child4{
    animation-name: audio;
    animation-duration: 0.6s;
    animation-delay:0.3s;
    animation-iteration-count: infinite;
}
.child5{
    animation-name: audio;
    animation-duration: 0.6s;
    animation-delay:0.6s;
    animation-iteration-count: infinite;
}
.child6{
    animation-name: audio;
    animation-duration: 0.6s;
    animation-delay:0.9s;
    animation-iteration-count: infinite;
}
.child7{
    animation-name: audio;
    animation-duration:0.6s;
    animation-delay:0.4s;
    animation-iteration-count: infinite;
}
.child8{
    animation-name: audio;
    animation-duration: 0.6s;
    animation-delay:0.2s;
    animation-iteration-count: infinite;
}
.child9{
    animation-name: audio;
    animation-duration: 0.6s;
    animation-delay:0.3s;
    animation-iteration-count: infinite;
}
@keyframes audio {
    0%{
        transform: scale(1,1)
    }
    50%{
        transform: scale(0.8,3.2);
    }
    75%{
        transform: scale(1,0.5);

    }
   
}